/* .formExpenses {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.formExpenses form {
  display: flex;
  flex-direction: column;
}

.formExpenses label {
  margin-bottom: 10px;
}

.formExpenses input[type="text"],
.formExpenses select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formExpenses button {
  padding: 10px 15px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #4f926b;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.formExpenses button:hover {
  background-color: #1f5f2d;
} */
